# QQ Plot with Python

In [2]:
import scipy.stats as st
import pylab
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
#loading the dataset
df=pd.read_csv("Sales-Export_2019-2020.csv")
df.sample(5)

,country,order_value_EUR,cost,date,category,customer_name,sales_manager,sales_rep,device_type,order_id
405,Finland,"163,967.89",138208.53,5/30/2019,Appliances,Friesen-Rath,Hube Corey,Wat Bowkley,Tablet,28-0849652
168,Spain,"42,028.45",36299.97,3/1/2020,Other,Hessel-Stiedemann,Emalia Dinse,Perri Aldersley,PC,55-3118263
706,Portugal,"61,994.02",54250.97,2/19/2019,Books,Friesen-Rath,Celine Tumasian,Corene Shirer,PC,84-1343954
603,Finland,"132,246.48",106841.93,1/2/2019,Games,Friesen-Rath,Hube Corey,Mellicent Mattys,PC,95-1862126
362,France,"99,319.33",79127.71,5/26/2020,Games,Hessel-Stiedemann,Othello Bowes,Amelina Piscopiello,PC,53-3037652

In [ ]:
df.columns

In [ ]:
def plot_data(df,feature):
    plt.figure(figsize=(10,6))
    plt.subplot(1,2,1)
    #df[feature].hist()
    sns.histplot(df[feature
                   ],kde=True)
    plt.subplot(1,2,2)
    st.probplot(df[feature],dist='norm',plot=pylab)
    plt.show()

In [ ]:
plot_data(df," cost ")

# Chi Square with Python

In [ ]:
##No of hours students study

In [ ]:
expected_data=[10,12,8,12,9,10,13]

In [ ]:
observed_data=[13,9,8,12,9,13,10]

In [ ]:
sum(expected_data)

In [ ]:
sum(observed_data)

In [ ]:
##Chi sqare gooodness of test

In [ ]:
chi_sqaure,pvalue=st.chisquare(expected_data,observed_data)

In [ ]:
print(chi_sqaure,pvalue)

In [ ]:
##find the critical value
significance=.05
dof=len(expected_data)-1

In [ ]:
critical_value=st.chi2.ppf(1-significance,dof)

In [ ]:
critical_value

In [ ]:
if chi_sqaure>critical_value:
    print("Reject the Null hypothesis")
else:
    print("Fail Reject the Null hypothesis")

In [ ]:
def Chi_square_test(expected_data,observed_data,significance=.05):
    if type(expected_data) and type(observed_data) is list or tuple or set:
        if sum(expected_data)==sum(observed_data) and len(expected_data)==len(observed_data):
            chi_sqaure,p_value=st.chisquare(expected_data,observed_data)
            dof=len(expected_data)-1
            critical_value=st.chi2.ppf(1-significance,dof)
            output="Reject the Null hypothesis" if chi_sqaure>critical_value else "Fail Reject the Null hypothesis"
        else:
            output="Please make sure the length and sum is equal"
    else:
        output="Please enter the correct values in list ,set,tuple only"
    return chi_sqaure,dof,critical_value,output

In [ ]:
expected_data=[10,100]
observed_data=[60,50]
Chi_square_test(expected_data,observed_data)

# F test with Python

In [ ]:
sample1=[10,12,8,12,9,10,13]
sample2=[13,9,8,12,9,13,10,17,20,19]
def f_test(sample1,sample2,significance=.05):
    h0="Sample2 is better then the Sample1"
    h1="Sample2 is not better then the Sample1"
    d1=len(sample1)-1
    d2=len(sample2)-1
    v1=np.var(sample1)
    v2=np.var(sample2)
    variance_ration_test=v1/v2
    critical_value=st.f.ppf(1-significance,dfn=d1,dfd=d2)
    if variance_ration_test>critical_value:
        output="Reject the null Hypothesis"
    else:
        output="Fail to Reject the null Hypothesis"
    return f"Null hypothesis: {h0}"\
            ,f"Null hypothesis: {h0}",\
            f"DOf of sample 1 : {d1}", f"DOf of sample2 : {d2}",f"varience of sample1 : {round(v1,2)}"\
            ,f"varience of sample2 : {round(v2,2)}"\
            ,f"variance_ration_test:{round(variance_ration_test,2)}"\
            ,f"significance:{round(significance,2)}"\
            ,f"critical_value:{round(critical_value,2)}"\
            ,f"Final Conclustion: {output}"

In [ ]:
f_test(sample1,sample2)

In [ ]:
Mg15=[9,8,7,8,8,9,8]
Mg30=[7,6,6,7,8,7,6]
Mg45=[4,3,2,3,4,3,2]
samples=[Mg15,Mg30,Mg45]
samples

In [ ]:
def ss_bt(samples,n,N):
    ai=sum([sum(i)**2 for i in samples])
    return ai/n-ai/N

def ss_within(samples,n):
    ai=sum([sum(i)**2 for i in samples])
    full_values=[]
    for i in samples:
        full_values.extend(i)
    output=sum([i**2 for i in full_values])
    return (output-ai/n)
#ai/n-ai/N

def Anova_test(samples,significance=.05):
    h0="Alll the mean is same"
    h1="Atleast one mean is different"
    N=sum([len(i) for i in samples])
    #print(N)
    a=len(samples)
    dof_bw=a-1
    dof_within=N-a
    critical_value=st.f.ppf(1-significance,dof_bw,dof_within)
    ss_between=ss_bt(samples,len(samples[0]),N)
    ss_wt=ss_within(samples,len(samples[0]))
    ss_total=round(ss_wt+ss_between,2)
    Ms_bt=round(ss_wt/dof_bw,2)
    Ms_within=round(ss_wt/dof_within,2)
    F=round(Ms_bt/Ms_within,2)
    if F>critical_value:
        Conclustion="Reject the Null hypothesis"
    else:
        Conclustion="Fail to Reject the Null hypothesis"

    return f"Null hypothesis: {h0}"\
            ,f"ALternativa hypothesis: {h1}",\
            f"a: {a}", f"N : {N}",\
            f"dof_bw : {(dof_bw)}"\
            ,f"dof_within : {dof_within}"\
            ,f"critical_value:{round(critical_value,2)}"\
            ,f"significance:{round(significance,2)}"\
            ,f"ss_between:{round(ss_between,2)}"\
            ,f"ss_within:{round(ss_wt,2)}" \
            ,f"ss_total:{ss_total}"\
            ,f"Ms_bt:{Ms_bt}" \
            ,f"Ms_within:{Ms_within}"\
            ,f"F:{F}"\
            ,f"Final Conclustion:{Conclustion}"

In [ ]:
Anova_test(samples)

In [ ]:
def ss_bt(samples,n,N):
    ai=sum([sum(i)**2 for i in samples])
    return ai/n-ai/N

In [ ]:
ss_bt(samples,7,21)

In [ ]:
def ss_within(samples,n):
    ai=sum([sum(i)**2 for i in samples])
    full_values=[]
    for i in samples:
        full_values.extend(i)
    output=sum([i**2 for i in full_values])
    return (output-ai/n)
#ai/n-ai/N

In [ ]:
ss_within(samples,7)

# Handling Missing values

In [ ]:
df=sns.load_dataset('titanic')

In [ ]:
df

In [ ]:
##Check the missig values
df.isnull().sum()

In [ ]:
## Delete the rows
df.dropna().shape

In [ ]:
##Columns drop
df.dropna(axis=1)

# Imputation Missing values

# 1.Mean Value Imputation

In [ ]:
sns.histplot(df['age'],kde=True)

In [ ]:
df['age_mean']=df['age'].fillna(df['age'].mean())

In [ ]:
##Normal distributaion data
df.isnull().sum()

# Median
if we have the outliers

In [ ]:
df['age_median']=df['age'].fillna(df['age'].median())

In [ ]:
df

# Mode
categarical values

# Handling Imbalance Dataset

In [ ]:
np.random.seed(123)
n=1000
class0_ratio=.9
n_class_0=int(n*class0_ratio)
n_class_1=n-n_class_0

In [ ]:
n_class_0

In [ ]:
n_class_1

In [ ]:
##Creatinf DF
cls_0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0

})
##Creatinf DF
cls_1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1

})

In [ ]:
cls_0

In [ ]:
df=pd.concat([cls_0,cls_1]).reset_index(drop=True)

In [ ]:
df

In [ ]:
df.target.value_counts()

In [ ]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [ ]:
#Upsampling
from sklearn.utils import resample
df_minj_updsampled=resample(df_minority,replace=True,
        n_samples=len(df_majority),
        random_state=42)

In [ ]:
df_minj_updsampled.shape

In [ ]:
df_upsampled=pd.concat([df_majority,df_minj_updsampled])

In [ ]:
df_upsampled.target.value_counts()

In [ ]:
##Creatinf DF
cls_0=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0

})
##Creatinf DF
cls_1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1

})
df=pd.concat([cls_0,cls_1]).reset_index(drop=True)

In [ ]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [ ]:
#downsampling
from sklearn.utils import resample
df_mon=resample(df_majority,replace=False,
        n_samples=len(df_minority),
        random_state=42)

In [ ]:
df_mon.target.value_counts()

In [ ]:
df_down=pd.concat([df_minority,df_mon])

In [ ]:
df_down.target.value_counts()

# SMOTE

In [ ]:
from sklearn.datasets import make_classification

In [ ]:
x,y=make_classification(n_samples=1000,n_redundant=0,n_features=2,n_clusters_per_class=1,
                   weights=[.90],random_state=42)

In [ ]:
df1=pd.DataFrame(x,columns=["f1","f2"])
df2=pd.DataFrame(y,columns=['target'])
final_df=pd.concat([df1,df2],axis=1)

In [ ]:
final_df

In [ ]:
final_df.target.value_counts()

In [ ]:
plt.scatter(final_df['f1'],final_df['f2'],c=final_df['target'])

In [ ]:
!pip install imblearn

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
oversample=SMOTE()
x,y=oversample.fit_resample(final_df[["f1","f2"]],final_df["target"])

In [ ]:
x.shape

In [ ]:
y.value_counts()

In [ ]:
df1=pd.DataFrame(x,columns=["f1","f2"])
df2=pd.DataFrame(y,columns=['target'])
final_df=pd.concat([df1,df2],axis=1)

In [ ]:
plt.scatter(final_df["f1"],final_df.f2,c=final_df.target)

# Data Interpolation

In [ ]:
x=np.array(range(0,5))
y=np.array(range(5,10))

In [ ]:
plt.scatter(x,y)

In [ ]:
x_new=np.linspace(1,5,10)
y_new=np.interp(x_new,x,y)

In [ ]:
plt.scatter(x_new,y_new)

In [ ]:
x=np.array(range(1,6))
y=np.array([i**3 for i in x])
plt.scatter(x,y)

In [ ]:
x

In [ ]:
y

In [ ]:
from scipy.interpolate import interp1d

In [ ]:
f=interp1d(x,y,kind='cubic')

In [ ]:
x_new=np.linspace(1,5,10)

In [ ]:
x_new

In [ ]:
y_new=f(x_new)

In [ ]:
plt.scatter(x_new,y_new)

In [ ]:
x=np.array(range(1,6))
y=np.array([i**3 for i in x])
plt.scatter(x,y)

In [ ]:
plt.figure(figsize=(3,5))
p=np.polyfit(x,y,5)
x_new=np.linspace(1,5,10)
y_new=np.polyval(p,x_new)
plt.scatter(x_new,y_new)

In [ ]:
plt.figure(figsize=(10,5))
p=np.polyfit(x,y,2)
x_new=np.linspace(1,5,10)
y_new=np.polyval(p,x_new)
plt.scatter(x_new,y_new)
#plt.text(x_new,y_new,str(y_new))

# Feature Scaling

In [ ]:
import scipy.stats as st
import pylab
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
#loading the dataset

Standarding

In [ ]:
df=sns.load_dataset('titanic')

In [ ]:
df

In [ ]:
np.mean(df.fare)

In [ ]:
def z_score(x):
    mean=np.mean(df.fare)
    std=np.std(df.fare)
    return (x-mean)/std

In [ ]:
df["std_fare"] =[ z_score(i) for i in df["fare"]]

In [ ]:
df

In [ ]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()

In [ ]:
scalar

In [ ]:
scalar.fit(df[['fare']])

In [ ]:
scalar.transform(df[['fare']])

In [ ]:
scalar.fit_transform(df[["fare"]])

Normalisations

In [ ]:
df.head()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
min_max=MinMaxScaler()
min_max.fit_transform(df[["fare"]])

# PCA

In [ ]:
from sklearn.preprocessing import normalize

In [ ]:
normalize([df["fare"]])

# Data Encoding

In [3]:
df=sns.load_dataset('titanic')
df=df.head(10)

In [4]:
df["class"].value_counts()

Third     6
First     3
Second    1
Name: class, dtype: int64

OneHotEncoder

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
encoder=OneHotEncoder()

In [7]:
##Perform fit perform
encoders=encoder.fit_transform(df[["class"]]).toarray()

In [8]:
encoder_df=pd.DataFrame(encoders,columns=encoder.get_feature_names_out())

In [9]:
encoder_df

   class_First  class_Second  class_Third
0          0.0           0.0          1.0
1          1.0           0.0          0.0
2          0.0           0.0          1.0
3          1.0           0.0          0.0
4          0.0           0.0          1.0
5          0.0           0.0          1.0
6          1.0           0.0          0.0
7          0.0           0.0          1.0
8          0.0           0.0          1.0
9          0.0           1.0          0.0

In [10]:
pd.concat([df['class'],encoder_df],axis=True)

    class  class_First  class_Second  class_Third
0   Third          0.0           0.0          1.0
1   First          1.0           0.0          0.0
2   Third          0.0           0.0          1.0
3   First          1.0           0.0          0.0
4   Third          0.0           0.0          1.0
5   Third          0.0           0.0          1.0
6   First          1.0           0.0          0.0
7   Third          0.0           0.0          1.0
8   Third          0.0           0.0          1.0
9  Second          0.0           1.0          0.0

LabelEncoder

In [11]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()

In [12]:
lb_enc=lbl.fit_transform(df[["class"]])

/Users/nithinkumar/anaconda3/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
lbl.transform(['Third'])[0]

2

# OrdinalEncoder

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
## creates instance
encoder=OrdinalEncoder(categories=[["First","Second","Third"]])

In [16]:
encoder.fit_transform(df[['class']])

array([[2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [2.],
       [2.],
       [1.]])

In [17]:
encoder.transform([["Third"]])[0][0]

/Users/nithinkumar/anaconda3/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

2.0

In [18]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [19]:
mean_prince=df.groupby('class')['fare'].mean().to_dict()

In [20]:
mean_prince

{'First': 58.7486, 'Second': 30.0708, 'Third': 10.6486}

In [21]:
df['class_encoder']=df['class'].map(mean_prince)

In [22]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,class_encoder
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,10.6486
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,58.7486
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,10.6486
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,58.7486
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,10.6486
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True,10.6486
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,58.7486
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False,10.6486
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False,10.6486
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,30.0708

Covariance and Correlation With Python

In [1]:
import scipy.stats as st
import pylab
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
#loading the dataset

In [2]:
df=sns.load_dataset('healthexp')

In [3]:
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [6]:
##Covarience
df.cov()

/var/folders/qh/c2j5shzd5f15l8q58y7grlwm0000gr/T/ipykernel_50678/3683814866.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [8]:
##Spearman corelation
df.corr(method='spearman')

/var/folders/qh/c2j5shzd5f15l8q58y7grlwm0000gr/T/ipykernel_50678/705147099.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [9]:
##Pearson corelation
df.corr(method='pearson')

/var/folders/qh/c2j5shzd5f15l8q58y7grlwm0000gr/T/ipykernel_50678/1640111654.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [ ]:
<script src="https://gist.github.com/anubhavshrimal/4aeb195a743d0cdd1c3806c9c222ed45.js"></script>