In [1]:
import scipy.stats as st
import pylab
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()
import warnings

with warnings.catch_warnings():
    warnings.simplefilter("ignore")

from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql.functions import when ,concat,lit , round, mean ,median , col, lit, concat_ws
from pyspark.sql import functions as F
from pyspark.ml.feature import QuantileDiscretizer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/04 15:16:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/04 15:16:11 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read.csv("/Users/nithinkumar/Downloads/df1.csv",header=True,inferSchema=True)

23/10/04 15:16:25 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

# Data Preprocessing

In [3]:
#checking the shape of the dataset
print("Remaining columns:", len(df.columns))
print("Number of rows:", df.count())

Remaining columns: 133

Number of rows: 2125537

In [4]:
columns_to_drop=['changed_x','changer_x','creator_x','pkey_x'
                 ,'pkey_y','changed_y','deleted_y','deleted_x',
                 'version_x','version_y','changer_y','created_x',
                 'creator_y','trans_status_y','acquirer_country_code_ext',
                 'acs_interface','acs_operatorid','acs_reference_number',
                 'acs_signed_content','authentication_type','message_version_y',
                 'instrument','authentication_value','ds_reference_number',
                 'ds_transid','eci','entity_id','error_code_x',
     'error_component_x','error_description_x','error_detail_x',
                 'error_message_type_x','error_msg_posted_x','kit_no',
                 'merchant_fraud_rate','message_version_x','purchase_amount',
                 'purchase_exponent','sca_exemption_ind','last_msg_received',
                 'sdk_transid_x','secure_corporate_payment','threedsrequestorid',
                 'threedsserver_transid_x','threeriind','trans_status_reason',
                 'masked_pan','partner_name','product_code','response_code_x','bank_code_x',
     'hashed_card','ruleexecutedid','msgreason','rule_result','attempts',
                 'authvalue','challenge_no_entry_counter','error_component_x'
                 ,'error_code_y','error_description_y','error_detail_y','error_message_type_y',
                 'error_msg_posted_y','message_type_y','message_version_y','otp','sdk_transid_y',
                 'threedssession_data','otpreferenceid','bank_code_y','response_code_y','opt_method',
                 'bank_code_y','response_code_y','masked_pan','sdk_transid_y','threedsserver_transid_y',
     'deleted_y','error_code_y','bin','acs_counter_atos','sdk_counter_stoa',
                 'threedsrequestor_challenge_ind','acs_counter_atos','interaction_counter',
                 'key_index','threedsserver_ref_number','acsurl','auth_type','auth_method',
                 'network','acs_challenge_mandated','message_type_y','challenge_received',
                 'acs_counter_stoa','dsurl','acs_ui_template','sdk_reference_number','riskscore',
                 'ruledetails','frm_tran_id','riskstatus_code',
     'riskdescription','acs_ui_type','error_component_y','error_description_y',
                 'error_detail_y','error_message_type_y','error_msg_posted_y',
                 'switch_reason','flow','cardholder_name','cek','oob_status','oob_description',
                 'second_auth','message_type_x']
df=df.drop(*columns_to_drop)

In [5]:
#checking the columns of the dataset
print(df.columns)

['acs_transid', 'challenge_completion_ind', 'challenge_window_size', 'msg_reason', 'otp_triggers', 'otp_attempts', 'trans_status_x', 'created_y', 'acct_number', 'acquirerbin', 'acquirer_merchantid', 'card_expiry_date', 'device_channel', 'merchant_country_code', 'merchant_name', 'message_category', 'notificationurl', 'pay_token_ind', 'purchase_currency', 'purchase_date', 'threedscomp_ind', 'threedsrequestor_authentication_ind', 'threedsrequestor_name', 'threedsrequestorurl', 'threedsserverurl', 'trans_type', 'browser_user_agent', 'browserip', 'amount']

In [6]:
#null values count
from pyspark.sql.functions import col

# Assuming df is your DataFrame
null_counts = []

# Iterate over all columns in the DataFrame
for col_name in df.columns:
    # Count the number of null values for each column
    null_count = df.where(col(col_name).isNull()).count()
    # Append the result to the list
    null_counts.append((col_name, null_count))

# Display the null counts for each column
for col_name, count in null_counts:
    print(f"Column : '{col_name}' has {count} null values.")

Column : 'acs_transid' has 6337 null values.
Column : 'challenge_completion_ind' has 118371 null values.
Column : 'challenge_window_size' has 51518 null values.
Column : 'msg_reason' has 121470 null values.
Column : 'otp_triggers' has 1777006 null values.
Column : 'otp_attempts' has 2078023 null values.
Column : 'trans_status_x' has 238242 null values.
Column : 'created_y' has 680 null values.
Column : 'acct_number' has 6047 null values.
Column : 'acquirerbin' has 6325 null values.
Column : 'acquirer_merchantid' has 3678 null values.
Column : 'card_expiry_date' has 8897 null values.
Column : 'device_channel' has 12447 null values.
Column : 'merchant_country_code' has 15289 null values.
Column : 'merchant_name' has 15277 null values.
Column : 'message_category' has 12462 null values.
Column : 'notificationurl' has 56909 null values.
Column : 'pay_token_ind' has 1503677 null values.
Column : 'purchase_currency' has 12507 null values.
Column : 'purchase_date' has 12490 null values.
Column : 'threedscomp_ind' has 59735 null values.
Column : 'threedsrequestor_authentication_ind' has 12728 null values.
Column : 'threedsrequestor_name' has 12450 null values.
Column : 'threedsrequestorurl' has 12450 null values.
Column : 'threedsserverurl' has 12450 null values.
Column : 'trans_type' has 15362 null values.
Column : 'browser_user_agent' has 59819 null values.
Column : 'browserip' has 137233 null values.
Column : 'amount' has 12889 null values.

In [7]:
#dulicate values
df=df.dropDuplicates()
#checking the shape of the dataset
print("Remaining columns:", len(df.columns))
print("Number of rows:", df.count())

23/10/04 15:38:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Remaining columns: 29

Number of rows: 2124578

In [13]:
from pyspark.sql.functions import col

columns_to_drop = []
percentage_threshold = 30

for col_name in df.columns:
    null_count = df.filter(col(col_name).isNull()).count()
    null_percentage = round(null_count * 100 / df.count(), 2)
    print(col_name, df.select(col_name).count(), null_percentage)
    
    if null_percentage > percentage_threshold:
        columns_to_drop.append(col_name)

# Drop columns with high null percentage
df = df.drop(*columns_to_drop)

print("Columns to drop:", columns_to_drop)
print("Remaining columns:", len(df.columns))
print("Number of rows:", df.count())

TypeError: Invalid argument, not a string or column: 0.27977320672622985 of type <class 'float'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [14]:
df.printSchema()

root
 |-- acs_transid: string (nullable = true)
 |-- challenge_completion_ind: string (nullable = true)
 |-- challenge_window_size: string (nullable = true)
 |-- msg_reason: string (nullable = true)
 |-- otp_triggers: string (nullable = true)
 |-- otp_attempts: double (nullable = true)
 |-- trans_status_x: string (nullable = true)
 |-- created_y: string (nullable = true)
 |-- acct_number: string (nullable = true)
 |-- acquirerbin: string (nullable = true)
 |-- acquirer_merchantid: string (nullable = true)
 |-- card_expiry_date: double (nullable = true)
 |-- device_channel: string (nullable = true)
 |-- merchant_country_code: double (nullable = true)
 |-- merchant_name: string (nullable = true)
 |-- message_category: string (nullable = true)
 |-- notificationurl: string (nullable = true)
 |-- pay_token_ind: string (nullable = true)
 |-- purchase_currency: double (nullable = true)
 |-- purchase_date: double (nullable = true)
 |-- threedscomp_ind: string (nullable = true)
 |-- threedsrequestor_authentication_ind: string (nullable = true)
 |-- threedsrequestor_name: string (nullable = true)
 |-- threedsrequestorurl: string (nullable = true)
 |-- threedsserverurl: string (nullable = true)
 |-- trans_type: string (nullable = true)
 |-- browser_user_agent: string (nullable = true)
 |-- browserip: string (nullable = true)
 |-- amount: string (nullable = true)

In [15]:
df = df.select([col(column).alias(column.strip()) for column in df.columns])

In [18]:
df.show(5)

+--------------------+------------------------+---------------------+--------------------+------------+------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------+--------------+---------------------+-------------+----------------+---------------+--------------------+-----------------+-------------+---------------+-----------------------------------+---------------------+-------------------+--------------------+----------+------------------+---------+-------------+
|         acs_transid|challenge_completion_ind|challenge_window_size|          msg_reason|otp_triggers|otp_attempts|      trans_status_x|           created_y|         acct_number|         acquirerbin|acquirer_merchantid|card_expiry_date|device_channel|merchant_country_code|merchant_name|message_category|notificationurl|       pay_token_ind|purchase_currency|purchase_date|threedscomp_ind|threedsrequestor_authentication_ind|threedsrequestor_name|threedsrequestorurl|    threedsserverurl|trans_type|browser_user_agent|browserip|       amount|
+--------------------+------------------------+---------------------+--------------------+------------+------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------+--------------+---------------------+-------------+----------------+---------------+--------------------+-----------------+-------------+---------------+-----------------------------------+---------------------+-------------------+--------------------+----------+------------------+---------+-------------+
|3d604592-bfb3-485...|                       N|                 null|                null|        null|        null|                null|2023-02-02 17:32:...|h9VQ5AxZ0AyYdtkFS...|            442343.0|       980200146994|          2709.0|          null|                 null|         null|            null|           null|                null|             null|         null|           null|                               null|                 null|               null|                null|      null|              null|     null|         null|
|38e00b75-6dbf-476...|                       N|                  5.0|               2.2.0|        null|        null|                null|          ACS_SYSTEM|                   1|l6QjayUC0sBKbfISD...|               null|            null|             |                 null|         null|          HeyTap|          2.2.0|https://checkouts...|           7500.0|        356.0|           null|                                  U|      10062941*904653|         OPPOMobile|c75e76ba-73f8-417...|      null|              null|  10021.0|         null|
|374d3a6d-77ff-48c...|                       N|                  2.0|               2.1.0|        null|        null|                null|          ACS_SYSTEM|                   1|eGYPCbUH8Vju3ftQM...|               null|            null|             |                 null|         null|     P24 DB V US|          2.1.0|https://api.priva...|         253750.0|        980.0|           null|                                  U|    10036784_I0110SW7|        P24 DB V US|e0d99696-5128-4d3...|      null|              null|  10021.0|37.73.156.213|
|                null|                   840.0|               PAYPAL|1dafd023-9c90-4c1...|        null|         4.0|3DS_LOA_SER_CACC_...|             10021.0|                null|                null|               null|            null|          null|                 null|         null|            null|           null|                null|             null|         null|           null|                               null|                 null|               null|                null|      null|              null|     null|         null|
|                null|                   840.0|               PAYPAL|9fd6ac63-e9bf-40a...|        null|         4.0|3DS_LOA_SER_CACC_...|             10021.0|                null|                null|               null|            null|          null|                 null|         null|            null|           null|                null|             null|         null|           null|                               null|                 null|               null|                null|      null|              null|     null|         null|
+--------------------+------------------------+---------------------+--------------------+------------+------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------+--------------+---------------------+-------------+----------------+---------------+--------------------+-----------------+-------------+---------------+-----------------------------------+---------------------+-------------------+--------------------+----------+------------------+---------+-------------+
only showing top 5 rows